nav{
  margin-top: 0%;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  padding:10px;
  width:100%;
  height: 40px;
    position:relative; 
  box-sizing: border-box;
}
nav ul{
  display:flex;
  flex-direction: row;
  gap:20px;
  list-style: none;
  margin:0;
  padding:0;
  justify-content: flex-end;
}
nav ul li a{
  text-decoration: none;
  color:black;
  position:relative;
  font-size:1.2em;
}
nav ul li a::after{
  content:"";
  position: absolute;
  left:0;
  bottom:-3px;
  height:2px;
  background-color: rgba(194,24,21,.5);
  
}
nav ul li a:hover::after{
  animation-name: animar_a;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes animar_a{
  from{
    width:0%;
  }
  to{
   width:100%;
  }
}
.btn{
  display:none;
}

@media screen and (max-width: 768px){
  .btn{
    display:block;
  }
  nav ul{
   flex-direction: column;
   align-items:center;
   margin-top:20px;
   background-color:rgb(255,255,255);
   border-radius:3px;
   box-shadow: 0px 0px 5px black;
  }
  nav ul li a{
    z-index: 1;
   color:black;
  }
 .full{
   animation-name: animar_menu_salida;
   animation-duration:1s;
   animation-fill-mode: forwards;
 }
 @keyframes animar_menu_salida{
   from{
    transform: scaleY(100%);
    opacity: 1;
   }
   to{
    transform: scaleY(0%);
    opacity: 0;
   }
 }

 .movil{
   animation-name: animar_menu_entrada;
   animation-duration:1s;
   animation-fill-mode: forwards;
 }
@keyframes animar_menu_entrada{
   from{
    transform: scaleX(0%);
    opacity: 0;
   }
   to{
    transform: scaleX(100%);
    opacity: 1;
   }
 }
}
